



#backGroundPane{
	-fx-background-color: linear-gradient(to bottom left, white, rgb(153, 153, 51));
}

#flashCardButtonVBox{
	
}

#buttonBox{
	-fx-vgap: 25;
	-fx-spacing: 10;
}

#testPane{
	-fx-background-color: black;
}

.button{
	
	-fx-background-color: linear-gradient(to top right, darkslategray, gray);
	-fx-pref-width: 450;
	-fx-pref-height: 120;
	-fx-background-radius: 20,10,0,0;
	-fx-font-size: 45;
	-fx-font-family: 'cursive';
	-fx-border-color: black;
	-fx-border-radius: 20,10,0,0;
	-fx-arc-height: 100;
	-fx-arc-width: 200;
	

}

.button:hover{
	-fx-background-color: linear-gradient(to top right, gray, lightgray);
	-fx-scale-x: 1.1;
	-fx-scale-y: 1.1;

}

.button:pressed{
	-fx-effect: dropshadow(two-pass-box,black,10,1,4,4); 
}

#shootemButton{
	-fx-scale-x: .75;
	-fx-scale-y: .75;
}

#shootemButton:hover{
	-fx-scale-x: .85;
	-fx-scale-y: .85;
}

#flashCardButton{
	-fx-scale-x: .75;
	-fx-scale-y: .75;
}

#flashCardButton:hover{
	-fx-scale-x: .85;
	-fx-scale-y: .85;
}

#legoButton{
	-fx-scale-x: .75;
	-fx-scale-y: .75;
}

#legoButton:hover{
	-fx-scale-x: .85;
	-fx-scale-y: .85;
}

#exitButton{
	-fx-scale-x: .75;
	-fx-scale-y: .75;
}

#exitButton:hover{
	-fx-scale-x: .85;
	-fx-scale-y: .85;
}

.label{
	
	-fx-font-size: 50;
	-fx-text-fill: red;
	-fx-effect: dropShadow(one-pass-box, black, 10, 1,1,1);
}

#lab{

}

#moneyLabel{


}

#flashcardpane{
	-fx-background-color: linear-gradient(to top right, black, gray);
}

#flashcardbox{
	
	-fx-background-color: linear-gradient(to top right, white, lightblue);
	-fx-pref-width: 800;
	-fx-pref-height: 600;
	-fx-alignment: top-center;
	-fx-background-radius: 50,20,0,0;
}

#titleLabel{
	-fx-font-size: 55;
	-fx-font-weight: BOLD;
	-fx-effect: dropshadow(two-pass-box,white,10,0,1,1);
}	

#featureLabel{
	-fx-font-size: 35;
	-fx-text-fill: yellow;
	-fx-effect: dropshadow(two-pass-box,white,10,0,1,1);
}

#backButton{

	-fx-scale-x: .5;
	-fx-scale-y: .5;
	
}
#showAnswerButton{

	-fx-scale-x: .5;
	-fx-scale-y: .5;
	
}
#shuffleCardButton{

	-fx-scale-x: .5;
	-fx-scale-y: .5;
}
#studyModeButton{

	-fx-scale-x: .5;
	-fx-scale-y: .5;
}

#cardPane{
	-fx-translate-x:350;
	-fx-translate-y:250;
	-fx-alignment: top-center;
	-fx-vgap: 10;
}

#cardVBox{
	-fx-alignment: top-center;
	-fx-min-width: 800;
	-fx-vgap: 10;

	
}

#cardHBox{
	-fx-translate-y: 200;
	-fx-max-width: 870;
	-fx-wrap-text: true;
	-fx-hgap: 35;
	-fx-spacing: 35;
}

#beneLabel{
	-fx-font-size: 20;
	-fx-max-width: 200;
	-fx-text-fill: white;
	-fx-wrap-text: true;
	-fx-hgap: 20;
	
}


